@model pryWeb.Models.OrdenCompra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenCompra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidadProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtotalPoducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtotalPoducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuetnos.nombreDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuetnos.nombreDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProduct)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idOrden }) |
    @Html.ActionLink("Back to List", "Index")
</p>
